.navbar11{
    background-image: linear-gradient(-60deg, purple, yellow, green, blue);
}

.dd{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
.ffx1 {
    margin-left: 10px;
}